<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
</head>
<body>
  <h1>Super API</h1>

  <%- include("./partials/nav.ejs")%>

  <p><%=inner%></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Suscipit adipisci reiciendis natus inventore repudiandae fuga quae nesciunt, soluta aliquam 
    libero ad harum optio quasi. Culpa porro sit animi quidem inventore.
  </p>

</body>
</html>