<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
</head>
<body>
  <h1>Form has been submitted!</h1>

  <%- include("./partials/nav.ejs")%>

  <h3>Your input:</h3>

  <ul>
    <li>Name: <%= input.name%></li>
    <li>Age: <%= input.age%></li>
    <li>Position: <%= input.position%></li>
  </ul>
</body>
</html>