* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  flex: 60%;
  padding: 3em;
  font-family: "Nova Square", serif;
}

h1 {
  text-align: center;
}

#desc {
  margin-top: 2em;
  text-indent: 4cap;
  text-align: justify;
  font-size: 1.3em;
  line-height: 1.5em;
  color: rgb(109, 109, 109);
}

#portrait {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

#portrait img {
  width: 300px;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em 0.6em rgba(0, 0, 0, 0.4);
}

#contacts {
  padding-left: 3em;
  display: flex;
  justify-content: start;
  align-items: center;
}

#contacts a {
  padding: 1em;
}

#contacts a img {
  width: 2em;
}

#contacts a img:hover {
  opacity: 0.4;
}